header {
	background-color: #0074D9;
	border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #7FDBFF;
	border: 1px black solid;
    padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#two_column {
    background-color: #B10DC9;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #FF4136;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #FF851B;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

footer {
    background-color: #01FF70;
    border: 1px black solid;
    padding: 20px;
}